* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  margin-bottom: 30px;
}

html {

  background-color: black;
  color: white;

}


h1 {
    color:white;
    font-family: "Victor Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 260%;


  }

  h2 {
  color: white;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: 1;
  font-size: 200%;
  text-align: center;
  margin: 0 auto; /* Add this line to center the text horizontally */
}

  h3 {
    color:white;
    font-family: "Victor Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 600;
    font-size: 150%;
  }
img{
  max-width: 250px;
  margin: auto;

}
  .title {
    display: flex;
    white-space: nowrap;
    text-align: left;
    margin-left: 38%;
    margin-bottom: 30px;
    border-right: 30px;
  }



  
  .intro {
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 1;
    font-size: 100%;
    text-align: center;
    margin: 0 auto; 
    margin-top: 20px;
    margin-left: 35%;

  }
  
  .hornet {
    display: flex;
    float:right;
    margin-right: 25%;
    margin-bottom: 0;
    margin-left: 0;
    border-radius: 0;

  }