

h1 {
    font-family: "Victor Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 300%;
  }

  h3 {
    font-family: "Victor Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 100%;
  }

  h3 {
    font-family: "Victor Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: bold;
    font-size: 150%;
  }